<header class="header">
  <time class="header-time" datetime="{{date format='DD MMMM YYYY'}}">
    {{date format="DD MMMM YYYY"}}
  </time>
  <h1 class="header-title header-title--post">{{title}}</h1>
  <hr class="header-rule" />
</header>