<article class="post-list-item">
  <time class="post-list-item-time" datetime="{{date format='DD MMMM YYYY'}}">
    {{date format='DD MMMM YYYY'}}
  </time>
  <h2 class="post-list-item-title">
    <a class="post-list-item-link" href="{{url}}">{{title}}</a>
  </h2>
  <p class="post-list-item-excerpt">{{excerpt characters="140"}}</p>
</article>