<nav class="navigation">
  <ul class="navigation-list">
    {{#if @site.logo}}
      <li class="navigation-item">
        <a class="navigation-link {{#if current}}navigation-current{{/if}}" href="{{@site.url}}">
          <img class="navigation-logo" src="{{@site.logo}}" alt="Mascot Origins" />
        </a>
      </li>
    {{/if}}

    {{#foreach navigation}}
      <li class="navigation-item">
        <a class="navigation-link {{#if current}}navigation-current{{/if}}" href="{{url absolute="true"}}">
          {{label}}
        </a>
      </li>
    {{/foreach}}
  </ul>
</nav>