<nav class="pagination" role="navigation">
  {{#if next}}
    <span class="pagination-item">
      {{#if prev}}
        <a href="{{page_url prev}}" class="pagination-link">&larr;</a>
      {{/if}}
    </span>
    <span class="pagination-item pagination-count">
      Page <span class="pagination-current">{{page}}</span> of <span class="pagination-total">{{pages}}</span>
    </span>
    <span class="pagination-item">
      {{#if next}}
        <a href="{{page_url next}}" class="pagination-link">&rarr;</a>
      {{/if}}
    </span>
  {{/if}}
</nav>
