<article class="prev-post-cta">
  <p class="prev-post-cta-label">Next story:</p>
  <h2 class="prev-post-cta-title">{{title}}</h2>
  <p class="prev-post-cta-text">{{excerpt}}</p>
  <div class="link-button-container">
    <a class="link-button--alt" href="{{url}}">
      <span class="link-button-text">Read &rarr;</span>
    </a>
  </div>
</article>