<article class="subscribe-cta">
  <h2 class="subscribe-cta-title">Get updates about new stories</h2>
  <p class="subscribe-cta-text">No spam, no weekly life updates, just a quick note when I post a new story. Cancel anytime if you get bored.</p>
  <div class="link-button-container">
    <a class="link-button--alt" href="{{@site.url}}/subscribe/">
      <span class="link-button-text">Subscribe</span>
    </a>
  </div>
</article>