<!doctype html>
<html lang={{@site.locale}}>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{> header_css}}
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <div id="#"></div>
  {{navigation}}
  <div class="container site-container">
    {{{body}}}
  </div>
  {{ghost_foot}}
</body>

</html>
