{{!< default}}
<div class="content-container">
  {{> "header_home"}}
  <main class="content">
    {{> "list_posts"}}
    {{pagination}}
    {{#if @labs.subscribers}}
      {{> "subscribe_cta"}}
    {{/if}}
  </main>
  {{> "footer"}}
</div>