{{!< default}}
{{#post}}
{{> "header_post"}}
<main class="content">
  <section class="content-post">
    {{content}}
  </section>

  {{#prev_post}}
    {{> "prev_post_cta"}}
  {{/prev_post}}

  <div class="link-button-container container-mb">
    <a href="#" class="link-text">&uarr; Back to top</a>
  </div>
</main>
{{> "footer"}}
{{/post}}