{{!< default}}
<main class="content">
  <section class="subscribe-container">
    <div class="subscribe-content">
      <h1>Subscribe to Mascot Origins</h1>
      <p>Get notified when new stories are posted - no spam or sales pitches or updates about my boring life. Just the stories you love about the mascots you thought you knew.</p>
      {{subscribe_form
        form_class="subscribe-form"
        input_class="subscribe-input"
        button_class="subscribe-button"
        placeholder="Your email address"
        autofocus="true"
      }}
    </div>
  </section>
</main>
{{> "footer"}}