*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
  font-family: 'Lato', sans-serif;
  height: 100%;
  scroll-behavior: smooth;

  @include respond(md) {
    font-size: 56.25%;
  }

  @include respond(lg) {
    font-size: 62.5%;
  }

  @include respond(xl) {
    font-size: 75%;
  }
}

body {
  background-color: $primary-3;
  color: $white;
  height: 100%;
}

a,
a:link,
a:visited {
  color: $accent;
  font-weight: 400;
  text-decoration: none;
}