// MEDIA QUERY MANAGER

/*
$breakpoint argument choices:
  - sm
  - md
  - lg
  - xl
*/

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: $smScreen) { @content };
  }
  @if $breakpoint == md {
    @media only screen and (min-width: $mdScreen) { @content };
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: $lgScreen) { @content };
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: $xlScreen) { @content };
  }
}
