// Colors date descriptor - e.g. "Two days later"
// Formatting in md can be done by:
// 1. Starting the story with a single line of text that is all italics, or
// 2. Inserting a horizontal rule followed by a single line of text that is all italics
section.content-post>p:first-child>em:only-child,
hr+p>em:only-child {
  display: block;
  text-align: center;
  color: $primary-1;
}