// ==================
//      Colors
// ==================
// Primary colors by number go from lightest to darkest
$primary-1: #7D99AD;
$primary-2: #506F86;
$primary-3: #2F3C4F;
$primary-4: #19222F;

$white: #D5DFEE;

$accent: #FBB040;

$error: #D9352B;

// ==================
//    Static Sizes
// ==================
// For positioning certain elements mostly
$siteWidth: 960px;
$innerWidth: 80%;

$footerHeight: 5.6rem;

// ==================
//    Breakpoints
// ==================
$smScreen: 640px;
$mdScreen: 768px;
$lgScreen: 1024px;
$xlScreen: 1280px;