/*
$breakpoint argument choices:
  - sm
  - md
  - lg
  - xl
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 50%;
  font-family: 'Lato', sans-serif;
  height: 100%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 1024px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 1280px) {
    html {
      font-size: 75%; } }

body {
  background-color: #2F3C4F;
  color: #D5DFEE;
  height: 100%; }

a,
a:link,
a:visited {
  color: #FBB040;
  font-weight: 400;
  text-decoration: none; }

section.content-post > p:first-child > em:only-child,
hr + p > em:only-child {
  display: block;
  text-align: center;
  color: #7D99AD; }

.container {
  min-height: 100vh;
  position: relative; }

.site-container {
  max-width: 960px;
  margin: 0 auto; }

.link-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem; }

.container-mb {
  margin-bottom: 2.4rem; }

.content {
  padding: 0;
  padding-bottom: 5.6rem; }

.content-post,
.content-page {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 3.2rem; }
  .content-post p,
  .content-page p {
    font-size: 1.8rem;
    line-height: 2.6rem; }
    .content-post p:not(:last-child),
    .content-page p:not(:last-child) {
      margin-bottom: 2.4rem; }
  .content-post hr,
  .content-page hr {
    color: #506F86;
    background-color: #506F86;
    border: none;
    height: 2px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2.4rem; }
    @media only screen and (min-width: 768px) {
      .content-post hr,
      .content-page hr {
        width: 400px; } }
  .content-post blockquote,
  .content-page blockquote {
    font-style: italic;
    margin-bottom: 2.4rem;
    padding: 2.4rem;
    border: 1px solid #7D99AD; }

.content-page h2 {
  font-family: 'Lato Black', sans-serif;
  font-size: 4.2rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  text-shadow: 2px 3px 0 #19222F;
  letter-spacing: 2px;
  margin-bottom: 3.2rem;
  text-align: center; }

.content-page hr {
  color: #19222F;
  background-color: #19222F;
  border: none;
  height: 4px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 3.6rem; }

.content-page p {
  font-size: 1.8rem;
  line-height: 2.6rem; }
  .content-page p:not(:last-child) {
    margin-bottom: 3.6rem; }

.footer {
  position: absolute;
  bottom: 0;
  height: 5.6rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-text {
  font-size: 1.6rem;
  line-height: 2rem; }
  .footer-text.footer-link,
  .footer-text .footer-link:link,
  .footer-text .footer-link:visited {
    text-decoration: underline; }

.header {
  padding: 4.8rem 0;
  text-align: center;
  width: 100%; }

.header-title {
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 3px 3px 0 #19222F;
  text-transform: uppercase;
  margin-bottom: 1.8rem; }
  .header-title--post {
    font-size: 4.8rem;
    margin-bottom: 2.4rem; }

.header-description {
  font-size: 2.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #7D99AD;
  margin-bottom: 2.8rem; }

.header-time {
  display: block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #7D99AD;
  margin-bottom: 1.8rem; }

.header-rule {
  color: #19222F;
  background-color: #19222F;
  border: none;
  height: 4px;
  width: 300px;
  margin: 0 auto; }

.link-button,
.link-button:link,
.link-button:visited {
  border: 2px solid #FBB040;
  border-radius: 2.2rem;
  padding: 0 3.2rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all; }
  .link-button:hover, .link-button:focus,
  .link-button:link:hover,
  .link-button:link:focus,
  .link-button:visited:hover,
  .link-button:visited:focus {
    background-color: #FBB040;
    color: #2F3C4F; }

.link-button--alt,
.link-button--alt:link,
.link-button--alt:visited {
  border-radius: 2.2rem;
  padding: 0 3.2rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all;
  background-color: #FBB040;
  color: #2F3C4F; }
  .link-button--alt:hover, .link-button--alt:focus,
  .link-button--alt:link:hover,
  .link-button--alt:link:focus,
  .link-button--alt:visited:hover,
  .link-button--alt:visited:focus {
    background-color: #fa9b0e; }

.link-button-text {
  font-size: 1.8rem;
  line-height: 2.6rem; }

.link-text,
.link-text:link,
.link-text:visited {
  font-size: 1.8rem; }

.navigation {
  background-color: #19222F;
  max-width: 100%; }

.navigation-list {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  align-items: stretch; }

.navigation-item {
  margin-right: 4.8rem;
  padding: 0;
  position: relative;
  transition: .3s ease all;
  display: flex;
  align-items: center; }

.navigation-link,
.navigation-link:link,
.navigation-link:visited {
  color: #D5DFEE;
  text-transform: uppercase;
  padding: .8rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  transition: .3s ease all; }
  .navigation-link::after,
  .navigation-link:link::after,
  .navigation-link:visited::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #FBB040;
    transform: scale(0, 1);
    transform-origin: center;
    transition: .3s ease all; }
  .navigation-link:hover::after, .navigation-link:focus::after,
  .navigation-link:link:hover::after,
  .navigation-link:link:focus::after,
  .navigation-link:visited:hover::after,
  .navigation-link:visited:focus::after {
    transform: scale(1, 1); }

.navigation-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%; }

.navigation-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #FBB040;
  width: 100%; }

.post-list {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 7.2rem; }

.post-list-item {
  border-left: 3px solid #FBB040;
  padding-left: 2.2rem;
  transition: 0.4s ease all; }
  .post-list-item:not(:last-child) {
    margin-bottom: 3.6rem; }
  .post-list-item:hover {
    padding-left: 2.3rem;
    border-left: 8px solid #FBB040; }

.post-list-item-time {
  color: #7D99AD;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.6rem; }

.post-list-item-title {
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 1.2rem; }
  .post-list-item-title.post-list-item-link,
  .post-list-item-title .post-list-item-link:link,
  .post-list-item-title .post-list-item-link:visited {
    color: #D5DFEE;
    font-weight: 700; }

.post-list-item-excerpt {
  font-size: 1.6rem;
  line-height: 2rem; }

.prev-post-cta {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  padding: 1.8rem 3.6rem;
  background-color: #D5DFEE;
  box-shadow: 4px 4px 0 #19222F; }

.prev-post-cta-label {
  color: #506F86;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.prev-post-cta-title {
  color: #2F3C4F;
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin-bottom: 1.6rem; }

.prev-post-cta-text {
  color: #506F86;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.8rem; }

.subscribe-container {
  display: flex;
  justify-content: center;
  min-height: 24rem;
  padding-top: 6.4rem; }

.subscribe-content {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .subscribe-content {
      width: 60%;
      max-width: 60%; } }
  @media only screen and (min-width: 1024px) {
    .subscribe-content {
      width: 70%;
      max-width: 70%; } }
  .subscribe-content h1 {
    font-size: 3.6rem;
    margin-bottom: 2.4rem; }
  .subscribe-content p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem; }

.subscribe-input {
  width: 80%;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  border: 4px solid #2F3C4F; }
  .subscribe-input:focus, .subscribe-input:active {
    border: 4px solid #FBB040; }
  .subscribe-input:invalid {
    border: 4px solid #D9352B; }

.subscribe-button {
  border: 2px solid #FBB040;
  border-radius: 2.2rem;
  padding: 0 3.2rem;
  height: 4.4rem;
  transition: .4s ease all;
  background-color: #2F3C4F;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #FBB040;
  margin-bottom: 2.4rem; }
  .subscribe-button:hover, .subscribe-button:focus {
    background-color: #FBB040;
    color: #2F3C4F;
    cursor: pointer; }

.subscribe-message {
  font-size: 1.8rem;
  line-height: 2.6rem; }
  .subscribe-message--error {
    color: #D9352B; }

.subscribe-cta {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  padding: 1.8rem 3.6rem;
  background-color: #D5DFEE;
  box-shadow: 4px 4px 0 #19222F; }

.subscribe-cta-title {
  color: #2F3C4F;
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin-bottom: 1.6rem; }

.subscribe-cta-text {
  color: #506F86;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.8rem; }
