.container {
  min-height: 100vh;
  position: relative;
}

.site-container {
  max-width: $siteWidth;
  margin: 0 auto;
}

.link-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.container-mb {
  margin-bottom: 2.4rem;
}