.content {
  padding: 0;
  padding-bottom: $footerHeight;
}

.content-post,
.content-page {
  width: $innerWidth;
  max-width: $innerWidth;
  margin: 0 auto;
  margin-bottom: 3.2rem;

  & p {
    font-size: 1.8rem;
    line-height: 2.6rem;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  & hr {
    color: $primary-2;
    background-color: $primary-2;
    border: none;
    height: 2px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2.4rem;

    @include respond(md) {
      width: 400px;
    }
  }

  & blockquote {
    font-style: italic;
    margin-bottom: 2.4rem;
    padding: 2.4rem;
    border: 1px solid $primary-1;
  }
}

.content-page {
  & h2 {
    font-family: 'Lato Black', sans-serif;
    font-size: 4.2rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    text-shadow: 2px 3px 0 $primary-4;
    letter-spacing: 2px;
    margin-bottom: 3.2rem;
    text-align: center;
  }

  & hr {
    color: $primary-4;
    background-color: $primary-4;
    border: none;
    height: 4px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 3.6rem;
  }

  & p {
    font-size: 1.8rem;
    line-height: 2.6rem;

    &:not(:last-child) {
      margin-bottom: 3.6rem;
    }
  }
}