.footer {
  position: absolute;
  bottom: 0;
  height: $footerHeight;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.6rem;
  line-height: 2rem;

  &.footer-link,
  .footer-link:link,
  .footer-link:visited {
    text-decoration: underline;
  }
}