.header {
  padding: 4.8rem 0;
  text-align: center;
  width: 100%;
}

.header-title {
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 3px 3px 0 $primary-4;
  text-transform: uppercase;
  margin-bottom: 1.8rem;

  &--post {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
  }
}

.header-description {
  font-size: 2.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: $primary-1;
  margin-bottom: 2.8rem;
}

.header-time {
  display: block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: $primary-1;
  margin-bottom: 1.8rem;
}

.header-rule {
  color: $primary-4;
  background-color: $primary-4;
  border: none;
  height: 4px;
  width: 300px;
  margin: 0 auto;
}