.link-button,
.link-button:link,
.link-button:visited {
  border: 2px solid $accent;
  border-radius: 2.2rem;
  padding: 0 3.2rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all;

  &:hover,
  &:focus {
    background-color: $accent;
    color: $primary-3;
  }
}

.link-button--alt,
.link-button--alt:link,
.link-button--alt:visited {
  border-radius: 2.2rem;
  padding: 0 3.2rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all;
  background-color: $accent;
  color: $primary-3;

  &:hover,
  &:focus {
    background-color: darken($accent, 10%);
  }
}

.link-button-text {
  font-size: 1.8rem;
  line-height: 2.6rem;
}