.navigation {
  background-color: $primary-4;
  max-width: 100%;

}

.navigation-list {
  max-width: $innerWidth;
  margin: 0 auto;

  display: flex;
  list-style-type: none;
  align-items: stretch;
}

.navigation-item {
  margin-right: 4.8rem;
  padding: 0;
  position: relative;
  transition: .3s ease all;

  display: flex;
  align-items: center;
}

.navigation-link,
.navigation-link:link,
.navigation-link:visited {
  color: $white;
  text-transform: uppercase;
  padding: .8rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  transition: .3s ease all;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $accent;
    transform: scale(0, 1);
    transform-origin: center;
    transition: .3s ease all;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scale(1, 1);
    }
  }
}

.navigation-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navigation-current {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $accent;
    width: 100%;
  }
}