.pagination {
  width: $innerWidth;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  margin: 0 1.2rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
  min-width: 15%;
  color: $primary-1;
}

.pagination-count {
  text-align: center;
  min-width: 10%;
}

.pagination-current,
.pagination-total {
  font-weight: bold;
  color: $white;
}