.post-list {
  width: $innerWidth;
  max-width: $innerWidth;
  margin: 0 auto;
  margin-bottom: 7.2rem;
}

.post-list-item {
  border-left: 3px solid $accent;
  padding-left: 2.2rem;
  transition: 0.4s ease all;

  &:not(:last-child) {
    margin-bottom: 3.6rem;
  }

  &:hover {
    padding-left: 2.3rem;
    border-left: 8px solid $accent;
  }
}

.post-list-item-time {
  color: $primary-1;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}

.post-list-item-title {
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;

  &.post-list-item-link,
  .post-list-item-link:link,
  .post-list-item-link:visited {
    color: $white;
    font-weight: 700;
  }
}

.post-list-item-excerpt {
  font-size: 1.6rem;
  line-height: 2rem;
}