.prev-post-cta {
  width: $innerWidth;
  max-width: $innerWidth;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  padding: 1.8rem 3.6rem;
  background-color: $white;
  box-shadow: 4px 4px 0 $primary-4;
}

.prev-post-cta-label {
  color: $primary-2;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.prev-post-cta-title {
  color: $primary-3;
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin-bottom: 1.6rem;
}

.prev-post-cta-text {
  color: $primary-2;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.8rem;
}