.subscribe-container {
  display: flex;
  justify-content: center;
  min-height: 24rem;
  padding-top: 6.4rem;
}

.subscribe-content {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;

  @include respond(md) {
    width: 60%;
    max-width: 60%;
  }

  @include respond(lg) {
    width: 70%;
    max-width: 70%;
  }

  h1 {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
  }
}

.subscribe-input {
  width: 80%;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  border: 4px solid $primary-3;

  &:focus, &:active {
    border: 4px solid $accent;
  }

  &:invalid {
    border: 4px solid $error;
  }
}

.subscribe-button {
  border: 2px solid $accent;
  border-radius: 2.2rem;
  padding: 0 3.2rem;
  height: 4.4rem;
  transition: .4s ease all;
  background-color: $primary-3;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $accent;
  margin-bottom: 2.4rem;

  &:hover,
  &:focus {
    background-color: $accent;
    color: $primary-3;
    cursor: pointer;
  }
}

.subscribe-message {
  font-size: 1.8rem;
  line-height: 2.6rem;

  &--error {
    color: $error;
  }
}

